.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr fit-content;
  max-width: 900px;
  margin-inline: auto;
  gap: 1rem;
}

.noDecksMessage {
  display: grid;
  place-content: center;
  padding: 2rem;
  font-size: 1.4rem;
  color: #666;
}
