.container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #f5f6fa;
  border-radius: 10px;
}

.menuSelect {
  padding: 8px 12px;
  border: 1px solid black;
  border-radius: 6px;
  background: #fafbfc;
  text-align: center;

  color: #24292e;
  cursor: pointer;
  height: 100%;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.menuSelect option {
  /* background: #fafbfc;
  color: #24292e;
  text-align: center;
  border: 1px solid black; */
}

/* Remove default arrow for Firefox */
.menuSelect::-ms-expand {
  display: none;
}
